
<head>
    <link rel="stylesheet" href="https://edge.xero.com/style/xui/14.1.2/xui.min.css" />
    <link rel="stylesheet" href="~/css/SharedStyles.css" />
</head>
<body class="background">
    <div class="homepage_background row">
        <h2>What would you like to do?</h2>
        <div class="col-sm-2 homepage_button">
            <a class='' href="~/Home/CreateAppreciation"><img src="~/img/Card.png" width="100" height="100" /><br><span style="font-size: 20px;">Write Card</span></a>
        </div>
        <div class="col-sm-2 homepage_button">
            <a class='' href="~/Home/ViewAppreciation"><img src="~/img/Postbox.png" width="100" height="100" /><br><span style="font-size: 20px;">Read Cards</span></a>
        </div>
        <div class="col-sm-2 homepage_button">
            <a class='' href="~/Home/Presentation"><img src="~/img/Presentation.png" width="100" height="100" /><br><span style="font-size: 20px;">Presentation</span></a>
        </div>
    </div>
</body>
